{% extends 'base.html'%}{% block content %}

<!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<!-- <h1 style="text-align: center;">FACE DETECTION MUSIC PLAYER</h1> -->
<div style="display: flex; flex-direction: row;    justify-content: space-around;"><img src="{{ url_for('static', filename='soothify.png') }}" align="middle" width="400" height="100" alt="soothify logo" style="margin-right:60%;">
    <a style="color: white !important;    align-self: center;    "  href="{{ url_for('signup_page') }}" class="btn btn-danger" >Log Out </a>
</div>
<div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{{ url_for('video') }}">
</div>

<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
          </div>


        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Created by Sarim,Ahmad and Anas
            </p>
          </div>
        </div>
      </div>
</footer>




{% endblock %}